/venv/
/.idea
**/__pycache__/
**/.pytest_cache/
/.ipynb_checkpoints/
**/output/
**/.DS_Store
*.pyc
.env
dist
jobs.csv
jobs.csv
jobs.xlsx
jobs_readable.xlsx
*.xlsx
~$jobs_readable.xlsx
~$jobs_readable.xlsx
jobs_readable.xlsx
~$jobs_readable.xlsx
